.meetandgreet{
    width: 90vw;
    margin: 10vh auto;
    background: rgb(24, 25, 26);
    box-shadow: rgb(0 0 0 / 60%) 2vw 2vw 2vw 1vw;
    border-radius: 10px;
}
*{
    
    padding: 0;
    padding: 0;
}
div.heading{
    display: flexbox;
    align-items: center;
    
}

.meet{
    

    margin-left: 23%;
    font-weight: 900;
    padding-top: 5%;
    color: #fff;
    font-size: 6rem;
    line-height: .8em;
    letter-spacing: -.07em;
}

.meetsource{
   margin-left: 25%;
   color: red;
   font-size: 2rem;
}

iframe{
    height: 100%;
}
