.about_h2{
font-weight: 900;
text-align: left;
color: #fff;
line-height: 2em;
font-size: 1.4rem;
}

.about_h1{
  font-weight: 900;
  color: #fff;
  font-size: 5rem;
  line-height: 0.8em;
  letter-spacing: -0.07em;
}

.about_heading {
  height: 100%; 
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width:576px)  {
  .about_h2{
    font-size: 1.2rem;
  }  
  .about_h1{
    font-size: 4rem;
  }
}