/*Sponsors Section*/

.logo-large {
  width: 100%;
  max-width: 450px;
  height: auto;
  margin: 0 auto;
  padding: 10px 10px;
}

.logo-mid {
  width: 100%;
  max-width: 300px;
  max-height: 150px;
  margin: 0 auto;
  padding: 10px 10px;
}

.logo-script {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: 0 auto;
}

.logo-webwiz {
  width: 100%;
  max-width: 295px;
  height: auto;
  margin: 0 auto;
}

.logo-rourkela360 {
  width: 100%;
  max-width: 260px;
  height: auto;
  margin: 0 auto;
}

.logo-odishanow {
  width: 100%;
  max-width: 260px;
  height: auto;
  margin: 0 auto;
}

.logo-rourkelashines {
  width: 100%;
  max-width: 260px;
  height: auto;
  margin: 0 auto;
}

.logo-bbsrbuzz {
  width: 100%;
  max-width: 360px;
  height: auto;
  margin: 0 auto;
}
.logo-eOdisha {
  width: 100%;
  max-width: 260px;
  height: auto;
  margin: 0 auto;
}
.logo-noticeboard {
  width: 100%;
  max-width: 260px;
  height: auto;
  margin: 0 auto;
  border-radius: 50%;
}

.logo_small {
  max-width: 290px;
  max-height: 150px;
  margin: 0 auto;
  padding: 20px;
}

.logo_speaker {
  max-width: 200px;
  max-height: 250px;
  margin: 0 auto;
  padding: 20px;
}
.logo-github {
  width: 100%;
  max-width: 450px;
  height: auto;
  margin: 0 auto;
  padding: 10px 10px;
}

.border_grad:hover {
  border: double 4px transparent;
  border-radius: 50%;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, #f00, #3020ff);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.border_grad {
  border-radius: 50%;
  border: 5px solid red;
  padding: 0.5px;
  transition: linear all 0.2s;
}

/* Prizes */

/*Prizes Section*/
.prizes_container {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}
.prizes_h1 {
  font-weight: 900;
  color: #fff;
  font-size: 6rem;
  line-height: 0.8em;
  letter-spacing: -0.07em;
}

.prize_box {
  background: #242526;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  transition: 0.3s;
  padding: 1em;
  border-radius: 10px;
  max-width: 21rem;
  margin: 10px auto;
  margin-bottom: 3rem;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}
.first_prize {
  font-size: 2.7rem;
  color: white;
  font-weight: 500;
}
.second_prize {
  font-size: 2.7rem;
  color: red;
  font-weight: 500;
}
.third_prize {
  font-size: 2.7rem;
  color: white;
  font-weight: 500;
}

/* pop_up*/
.modal {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.popup-content {
  margin: 0;
  background: #242526;
  width: 50%;
  color: #fff;
  max-width: 400px;
  border-radius: 10px;
  padding: 2rem;
}
.popup-arrow {
  color: rgb(255, 255, 255);
}
.popup-overlay {
  background: none;
  backdrop-filter: blur(5px);
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}
.modal .close {
  position: absolute;
  font-size: 2.5rem;
  right: -12px;
  top: -27px;
  cursor: pointer;
  color: red;
}
@media screen and (max-width: 576px) {
  .prizes_h1 {
    font-size: 4rem;
  }
  .popup-content {
    width: 80%;
    max-width: fit-content;
  }
}

/* shedule page css starts */
.contents {
  padding: 1rem 0.5rem;
}

.content-section {
  flex-direction: column;
  padding: 2px 0;
}
.container-schedule {
  display: block;
  width: 100%;
  /* max-width: 1280px; */
  margin: 0 auto;
}
.daily-schedule {
  margin-bottom: 1rem;
  margin: 1rem;

  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.single-event {
  display: flex;
  flex-direction: row;
  margin-top: 0.6rem;
}
.date-time {
  background-color: #222;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 1rem 5rem;
  text-align: right;
  white-space: nowrap;
  color: #fff;
}
.date {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: #fff;
}

.time {
  font-size: 1.2rem;
  font-weight: 700;
}
.Hackathon {
  /* font-size: 100%; */
  font: inherit;
  /* vertical-align: baseline; */
  border-left: 5px solid #ff0000;
}
.description {
  padding-left: 2rem;
  background-color: #333;
  flex: 1;
  color: #fff;
  display: flex;
  justify-content: space-between;
  /* margin-left: 1rem; */
  text-align: left;
  overflow: hidden;
}

.title {
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  font-weight: 699;
}

.name {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.speaker {
  display: flex;
  align-items: center;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5rem;
}

@media (max-width: 767px) {
  .daily-schedule {
    padding: 0;
    margin: 0;
  }
  .content-section .contents .single-event .date-time {
    padding: 0.9rem;
  }
  .Hackathon {
    border-left: 2px solid #ff0000;
  }
  .description {
    padding-left: 0.8rem;
  }
}
