/*About Section*/
.about_h2 {
  font-weight: 900;
  text-align: left;
  color: #fff;
  line-height: 2em;
  font-size: 1.4rem;
}

.about_h1,
.faq_heading {
  font-weight: 900;
  color: #fff;
  font-size: 5rem;
  line-height: 0.8em;
  letter-spacing: -0.07em;
}

.about_heading {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 576px) {
  .about_h2 {
    font-size: 1.2rem;
  }
  .about_h1,
  .faq_heading {
    font-size: 4rem;
  }
}

/*Schedule Section*/
.schedule_container {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}
.schedule_h1 {
  font-weight: 900;
  padding-top: 5%;
  color: #fff;
  font-size: 6rem;
  line-height: 0.8em;
  letter-spacing: -0.07em;
}

.schedule_h2 {
  text-align: center;
  color: #fff;
  font-size: 2.5rem;
}

@media screen and (max-width: 576px) {
  .schedule_h1 {
    font-size: 3.2rem;
  }
  .schedule_h2 {
    font-size: 2rem;
  }
}


/*Events Section*/
.events_container {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}
.events_h1 {
  font-weight: 900;
  padding-top: 5%;
  color: #fff;
  font-size: 6rem;
  line-height: 0.8em;
  letter-spacing: -0.07em;
}

.events_h2 {
  text-align: center;
  color: #fff;
  font-size: 2.5rem;
}

@media screen and (max-width: 576px) {
  .events_h1 {
    font-size: 4rem;
  }
  .events_h2 {
    font-size: 2rem;
  }
}

/*Prizes Section*/
.prizes_container {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}
.prizes_h1 {
  font-weight: 900;
  padding-top: 5%;
  color: #fff;
  font-size: 6rem;
  line-height: 0.8em;
  letter-spacing: -0.07em;
}

.prizes_h2 {
  text-align: center;
  color: #fff;
  font-size: 2.5rem;
}

@media screen and (max-width: 576px) {
  .prizes_h1 {
    font-size: 4rem;
  }
  .prizes_h2 {
    font-size: 2rem;
  }
}

/*FAQ Section*/
.faq_heading {
  padding: auto;
  padding-top: 5%;
  font-weight: 900;
  color: #fff;
  font-size: 5rem;
  line-height: 0.8em;
  letter-spacing: -0.07em;
}

.faq_content {
  padding: auto;
  padding-bottom: 4%;
  text-align: left;
}

@media screen and (max-width: 576px) {
  .faq_heading {
    font-size: 4rem;
  }
}
